<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: #000000; 
            height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ef0018; 
        }

        .error-container {
            text-align: center;
        }

        .back-button {
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyL/HbYabuL4paMZh1klC5CgL9ZN2u6I8Z" crossorigin="anonymous">
   <title>Error Page</title>
</head>
<body class="bg-dark d-flex justify-content-center align-items-center" style="height: 100vh;"> 
    <div class="col-md-12 mt-3">
    <div class="text-center text-danger">
        <h1><p>404 Error <br/>
        Secret Not Found</p></h1>
    </div>
        <form action="/" method="post">
            <button class="btn btn-primary btn-sm p-1">Back to Home</button>
        </form>
    </div>
</body>
</html>
