<%- include('header.ejs') %>
<hr class="text-light"/>
<br/>

<% if (typeof loggedIn !== 'undefined' && loggedIn) { %>
    <%- include('form.ejs') %>
    <br>
    <%- include('main.ejs', { secrets: secrets }) %>

<% } else { %>
    <p>Please log in to see the main content.</p>
    <%- include('login.ejs') %>
    <br/>
<% } %>
